
@{
    ViewBag.Title = "Apply";
    Layout = "~/Views/Shared/_CompleteLayout.cshtml";
}
<script>
    $(document).ready(function () {
        $('#home-bg').addClass('bg-extra-image');

        $('.page-apply').addClass('active');
        $(".navbar-transparent .top-navbar-links li > a").addClass("grey-C8C8C8");
    });
</script>
<div class="container">
    <h1 class="d-none d-sm-block">APPLY</h1>
    <h3 class="d-block d-sm-none m-t-200">APPLY</h3>
</div>

<div class="container">
    <div class="row m-t-25">
        <iframe class="embed-responsive-item apply-iframe" src="https://secure.weimark.com/ifw/4f8214fed090cac882534f4f27d8d68b/1761/new/" frameborder="0"></iframe>
    </div>
</div>


